/*
 * Allgemeines
 */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(../../00_assets/backgrounds/office.png) repeat;

    color: #fff;
    font-family: "Abel", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 1.3em;
}

hr {
    margin: 30px 0;
}

/*
 * Überschriften / Headlines
 */

h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1.4em;
    color: #873EE1;
    position: relative;
    margin: 10px 0 60px;
}

h3:after,
h3:before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    bottom: -25px;
    height: 2px;
    background: #873EE1;
}

h3:after{
    width: 0;
    background: #ffb217;
    transition: all 300ms;
}

/*
 * Links / Anker
 */

a {
    color: #873EE1;
    text-decoration: none;
}

a:hover {
    color: #ffb217;
}

/*
 * Logo
 */

.logo {
    position: fixed;
    background: #873EE1;
    width: 60px;
    height: 60px;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 200ms;
}

.logo:hover {
    background: #fff;
}

.logo span{
    font-size: 1.8em;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 200ms;
    transform: translate3d(-50%, -50%, 0);
}

.logo:hover span {
    color: #000;
}

/*
 * Navigation Styles
 */

.mod--navigation {
    overflow: hidden;
}

.main--navigation {
    float: right;
}

.main--navigation li {
    display: inline-block;
    margin: 12px 1px;
}

.main--navigation a {
    display: block;
    padding: 8px;
    transition: all 200ms;
}

.main--navigation li:hover a {
    background: #873EE1;
    color: #fff;
}

/*
 * Button Styles
 */

.button {
    display: inline-block;
    border: 2px solid #873EE1;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 300ms;
}

.button:hover {
    border: 2px solid #ffb217;
    background: rgba(255, 178, 23, 0.2);
    cursor: pointer;
}

/*
 * Blogroll Styles
 */

.list--reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mod {
    max-width: 1200px;
    margin: 0 auto;
}

.mod--navigation {
    margin-bottom: 45px;
}

.blogroll {
    list-style: none;
}

article {
    border: 3px solid #fff;
    filter: blur(0);
    transition: all 400ms ease;
}

article:hover {
    border-color: #873EE1;
}

article:hover h3:after {
    width: 60px;
}

.inner-content {
    padding: 0 20px 20px;
}

/**
 * Footer / Adressen
 */

.mod--footer {
    text-align: center;
    padding: 30px 0;
    overflow: hidden;
}

address {
    font-style: normal;
    position: relative;
}

address:before,
address:after {
    content: "";
    background: #873EE1;
    width: 80px;
    height: 2px;
    display: block;
    margin: 30px auto;
}

.social-media {
    margin-top: 15px;
}

/*
 * Responsive Table
 */

table {
    width: 100%;
    margin: 30px 0;
}

table, td, tr, th {
    border:2px solid black;
    border-collapse: collapse;
    text-align: left;
}

td, tr, th {
    padding: 1em;
}

th {
    font-weight: bold;
}

@media screen and (max-width:700px) {

    table, tr, td {
        padding: 0;
        border: 1px solid black;
    }

    table {
        border: none;
    }

    thead {
        display: none;
    }

    tr {
        display: block;
        margin-bottom: 2em;
    }

    td {
        display: flex;
        width: 100%;
        padding: 1em;
    }

    td::before {
        content:attr(data-label);
        border-right: 2px solid black;
        width: 15%;
        padding: 1em;
        font-weight: bold;
        margin: -1em 1em -1em -1em;
    }
}

/*
 * Media Queries
 */

@media screen and (min-width: 480px) {

    address:before,
    address:after {
        display: none;
    }

    .mod--footer {
        margin-top: 40px;
        padding-top: 20px;
    }

    .mod--footer .column {
        text-align: right;
    }

    .mod--footer .column:first-of-type {
        text-align: left;
    }

    .social-media {
        margin: 0;
    }

    .mod--footer > *:first-child {
        text-align: left;
    }

}