/* Hier geht es jetzt um die CSS Syntax: Das hier ist ein Kommentar */

/* Hier werden alle <body> Elemente im DOM selektiert (in der Regel gibt es aber nur einen einzigen */
body {
	background: rgb(255, 247, 238);

	font-family: Arial, sans-serif;
	color: #222;
	line-height: 1.4em;
}

/* Hier werden alle <code> Elemente im DOM selektiert */
code {
	background: cadetblue;
	padding: 0 5px;

	color: #fff;
}

/* Hier werden alle <p> Elemente im DOM selektiert */
p {
	font-size: 17px;
}

/* Hier werden alle Elemente mit der Klasse .container im DOM selektiert */
.container {
	font-size: 1.1em;
	color: #228b22;
	line-height: 1.65em;
}

/* Hier werden alle Kind Elemente <code> selektiert, welche Elemente mit den Klassen .container und .info als Eltern haben */
.container.info code {
	background: #800080;
}

/* Hier wird das einzigartige Element mit der ID #intro selektiert */
#intro {
	border: 5px solid #228b22;
	padding: 20px;
	margin-bottom: 40px;

	font-size: 1.15em;
	font-family: "Courier New", serif;
}
