body {
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	height: 5000px;
}

.container {
	background: #ff5e5e;

	padding: 20px;
	border: 10px solid mediumpurple;
	margin: 30px;
}

.relative {
	position: relative;
	width: 40vw;
	top: 50px;
	left: 5vw;
}

.fixed {
	position: fixed;
	bottom: 100px;
	background: #7fface;
	border-color: #cea016;
}
