/* Hier geht es jetzt um die CSS Syntax: Das hier ist ein Kommentar */

/* Das ist ein einfacher Selektor, der für alle HTML Elemente mit dem gleichen Namen gilt */
body {
    background: rgb(255, 247, 238);
    color: #222;
}

code {
    background: cadetblue;
    color: #fff;
    padding: 0 5px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.container {
    font-size: 1.1em;
    color: #228b22;
}

#intro {
    border: 5px solid #228b22;
    font-size: 1.15em;
    padding: 20px;
    font-family: "Courier New", serif;
    margin-bottom: 40px;
}