body {
    background: url(../../00_assets/backgrounds/office.png) repeat;

    color: #fff;
    font-family: "Abel", sans-serif;
}

/* Einbindung von Schriften ohne eine Plattform */
@font-face {
    font-family: 'bearpawregular';
    src: url('bearpaw.eot');
    src: url('bearpaw.eot?#iefix') format('embedded-opentype'),
    url('bearpaw.woff') format('woff'),
    url('bearpaw.ttf') format('truetype'),
    url('bearpaw.svg#bearpawregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h3 {
    font-family: "bearpawregular", serif;
    font-size: 2.7em;
    color: #e1821b;
}

a {
    color: #e1821b;
}