/*
 * Allgemeines
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(../../00_assets/backgrounds/office.png) repeat;

    color: #fff;
    font-family: "Abel", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/*
 * Überschriften / Headlines
 */

h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1.4em;
    color: #e1821b;
    position: relative;
    margin: 10px 0 60px;
}

h3:after,
h3:before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    bottom: -25px;
    height: 2px;
    background: #e1821b;
}

h3:after{
    width: 0;
    background: #ffb217;
    transition: all 300ms;
}

/*
 * Links / Anker
 */

a {
    color: #e1821b;
    text-decoration: none;
}

a:hover {
    color: #ffb217;
}

/*
 * Logo
 */

.logo {
    position: fixed;
    background: #e1821b;
    width: 60px;
    height: 60px;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 200ms;
}

.logo:hover {
    background: #fff;
}

.logo span{
    font-size: 1.8em;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 200ms;
    transform: translate3d(-50%, -50%, 0);
}

.logo:hover span {
    color: #000;
}

/*
 * Navigation Styles
 */

.mod--navigation {
    overflow: hidden;
}

.main--navigation {
    float: right;
}

.main--navigation li {
    display: inline-block;
    margin: 12px 1px;
}

.main--navigation a {
    display: block;
    padding: 8px;
    transition: all 200ms;
}

.main--navigation li:hover a {
    background: #e1821b;
    color: #fff;
}

/*
 * Button Styles
 */

.button {
    display: inline-block;
    border: 2px solid #e1821b;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 300ms;
}

.button:hover {
    border: 2px solid #ffb217;
    background: rgba(255, 178, 23, 0.2);
    cursor: pointer;
}

/*
 * Blogroll Styles
 */

.list--reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mod {
    max-width: 1200px;
    margin: 0 auto;
}

.mod--navigation {
    margin-bottom: 45px;
}

.blogroll {
    overflow: hidden;
}

.blogroll > li {
    padding: 0 10px;
}

article {
    border: 3px solid #fff;
    filter: blur(0);
    transition: all 400ms ease;
}

article:hover {
    border-color: #e1821b;
}

article:hover h3:after {
    width: 60px;
}

article img {
    transition: all 400ms ease;
}

article:hover img {
    transform: scale(1.15);
    filter: blur(3px);
}

.image--wrapper {
    overflow: hidden;
}

.inner-content {
    padding: 0 20px 20px;
}

/**
 * Footer / Adressen
 */

.mod--footer {
    text-align: center;
    padding: 30px 0;
    overflow: hidden;
}

address {
    font-style: normal;
    position: relative;
}

address:before,
address:after {
    content: "";
    background: #e1821b;
    width: 80px;
    height: 2px;
    display: block;
    margin: 30px auto;
}

.social-media {
    margin-top: 15px;
}

/*
 * Media Queries
 */

@media screen and (min-width: 480px) {
    .blogroll > li {
        float: left;
        width: 50%;
    }

    address:before,
    address:after {
        display: none;
    }

    .mod--footer {
        margin-top: 40px;
        padding-top: 20px;
        border-top: 2px solid #e1821b;
    }

    .mod--footer > * {
        float: left;
        width: 33.333%;
        text-align: right;
    }

    .social-media {
        margin: 0;
    }

    .mod--footer > *:first-child {
        text-align: left;
    }
}